#background {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./img/1.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
}

#clock {
  color: white;
  height: 150px;
  font-size: 25px;
}

/* 로그인 폼 */

#login-form {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}
#login-form h1 {
  text-align: center;
  margin-bottom: 30px;
}
.login-btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: whitesmoke;
  color: black;
  font-weight: 500;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}
.login-btn:focus {
  outline: 0;
}
.login-btn:active {
  transform: scale(0.98);
}

.form-control {
  position: relative;
  margin: 30px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: yellow;
}
